extends ../templateChart
block vars
  - var subheader = "Pareto chart - " + output

block script
  script.
    $(function() {
      var div_id = "#pareto_chart_#{chart_id}";
      $(div_id + " .button").on('click', function() {
        $(div_id).remove();
      });
    });