extends ../templateChart
block vars
  - var subheader = "Pareto chart"

block script
  script.
    $(function() {
      $('.plot .button').on('click', function() {
        $("#pareto_chart").empty();
        pareto_loaded = false;
      });
    });