extends ../templateChart
block vars
  - var subheader = "3d scatter plot chart - "// + output + " - " + param1 + " vs. " + param2;
  
block script
  script.
    $(function() {
      var div_id = "#three_d_chart_#{chart_id}";
      $(div_id + " .button").on('click', function() {
        $(div_id).remove();
      });
    });