module.exports = {
	secret_key_base: "<<SECRET_KEY_BASE>>", //for development: "d132fd22bc612e157d722e980c4b0525b938f225f9f7f66ea"
	encrypted_cookie_salt: "encrypted cookie",
	encrypted_signed_cookie_salt: "signed encrypted cookie",
	iterations: 1000,
	keylen: 64,
	cipherName: 'aes-256-cbc'
};
