//i18n

input(placeholder="Search by name...", id="searchBox", type="text") 
ul(id="searchList")
  each method in methods
    li(id=method.name)
      a(href="#", data-reveal-id=method.url)= method.url
      p= method.name
      p= method.id

p Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym. Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum, a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na komputerach osobistych, jak Aldus PageMaker

include ./pareto/paretoModal.jade
include ./interaction/interactionModal.jade

script.
  $(function(){
    var ids = [];
    $('#searchList > li').each(function(){
      ids.push($(this).attr("id"));
    });
    console.log(ids);

    $('#searchBox').autocomplete({
      source: ids,
      select: function(event, selected){
      	var id = selected.item.value;
        $("#searchList > li#" + id + " > a ").click();
      }
    });
    $('.ui-autocomplete').addClass('f-dropdown').css("z-index", 1000);

    $('#searchBox').keyup(function(){
      var searchVal = $(this).val().toLowerCase();
      if(searchVal == ""){
        $('#searchList > li').show();           
      } else {
        $('#searchList > li').each(function(){
          var id = $(this).attr("id").toLowerCase();
          (id.indexOf(searchVal) >= 0) ? $(this).show() : $(this).hide();
        });
      }
    });
  });