extends ../templateChart
block vars
  - var subheader = "Interaction chart"
  
block script
  script.
    $(function() {
    	var div_id = "#interaction_chart_#{chart_id}";
      $(div_id + " .button").on('click', function() {
        $(div_id).remove();
        pareto_loaded = false;
      });
    });